   

<section class="container-fluid" id=""  style="color:white;font-family: Bitter;background-color:rgba(0,0,0,0.5);">
    <div class="bounceInDown animated" style="padding-top:0px;">
        <h1 class="text-center">Kristina + Jordan</h1>
        <h2 class="text-center lato animate slideInDown" style="font-family: Parisienne">November 14th, 2015  </h2>
        <h2 class="text-center animate slideInDown"><b>New York, NY</b> </h2>
        <p class="text-center">
           <%= image_tag 'https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11226679_820899501333806_1131728307_n.jpg', class:'img-responsive thumbnail center-block' %>
            
          </p>
    </div>
  
		
		
  </section>




    
    

