
<section class="container-fluid" id="section1">
    <h1 class="text-center"></h1>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            
            <br>
            <div class="row">
                <h3 class="text-center" style="font-family: Parisienne">Tag your Instagram photos with</h3>
                <h2 class="text-center slideInUp animate">#FallingHeadOverHills</h2>
            </div>
            <br>
            <p class="text-center">
               <%= image_tag 'magnolia.png', class:'img-responsive center-block' %>
            </p>
            
        </div>
    </div>
</section>

