
<section class="container-fluid" id="section1">
  			<div class="row">
  				 <h1 class="col-sm-4 col-sm-offset-4 text-center" style="font-family: Parisienne;background-color:rgba(0,0,0,0.5);padding:10px;">How we met</h1>
           </div>
            <div class="row">
                <div class="text-center" style="margin-left:30px;margin-right:30px;padding:10px;background-color:rgba(0,0,0,0.5);">
                	It was summer 2011 in New York City.  You'd think that Jordan would have used the internet to find 'the one' but it was at a cozy, casual bar on the Lower East Side named Spitzer's Corner.
                	
                	Kristina's plans to go to Brooklyn were thwarted by the rain that evening, so she and her friends went to the nearby bar, Spitzer's. 
                	Jordan and his buddy, Kevin, decided to catch up and enjoy some cold beers and picked a familar spot, Spitzer's.
                	
                	As sometimes happens in bars, mingling ensued.  Indirectly, through their groups of friends, Kristina and Jordan eventually locked blue eyes.
					The conversation continued and the group agreed to meet up for brunch the next weekend.
                	
                	At that brunch, the initial sparks were there, and numbers were exchanged. After a few silly text messages, the first date was on.
                </div>
            </div>
            
            <br>
            
             <div class="row">
  				 <h1 class="col-sm-4 col-sm-offset-4 text-center" style="font-family: Parisienne;background-color:rgba(0,0,0,0.5);padding:10px;">First Date</h1>
           </div>
            <div class="row">
                                <div class="text-center" style="margin-left:30px;margin-right:30px;padding:10px;background-color:rgba(0,0,0,0.5);">
                August 5th, 2011, the first Friday of August was also our first date.  
                Jordan had just gotten back from an overseas trip and was now sporting a beard and longer hair.  He wasn't sure if 'The Swede', as he referred to her, would even recognize him.
                And she almost didn't.   By this time Jordan's steel trap of a memory was also only kinda sure of 'The Swedes' real name.  Luckily, Kristina found it hiliarious and liked being known as 'The Swede'.  This go-with-the-flow attitude must have appealed to Jordan as they ended up embarking on a 7 hour date.  From the Hurricane Club to the Gansevort rooftop, neither was ever quite ready to say goodbye.
				You might say, they hit it off. 
                </div>
            </div>
            
            <br>
            
             <div class="row">
  				 <h2 class="col-sm-4 col-sm-offset-3" style="font-family: Parisienne;padding:5px;">And Then...</h2>
   		</div>
   
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          
            <p class="text-center">
                <%= image_tag 'collageKJ2.png', class:'img-responsive center-block' %>
            </p>
            
           
        </div>
    </div>
    
     <h2 class="col-sm-6 col-sm-offset-3 text-right" style="font-family: Parisienne">Many More to Come!</h2>
</section>

